<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artículo de Blog</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <header>
        <a  href="index.html">
        <img class="logo" src="logo.png " alt="Mi foto">  
        </a>
        Mi primer blog
    </header>

    <div class="container">
        <div class="left-column">
            <h1>El Título del Artículo</h1>
            <p class="parrafo">Publicado el 22 de Septiembre de 2023</p>
            <img src="Art1.jpg" alt="Imagen del artículo" class="logo">
            <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue lectus non ex mattis, sit amet cursus metus congue. Integer non sem eu justo viverra blandit. Suspendisse ultrices mi a enim iaculis, non eleifend quam tincidunt.</p>
            <p class="parrafo">Sed volutpat, sapien ac blandit luctus, felis justo scelerisque justo, in finibus ex sapien ac nunc. Nulla et massa at ex lacinia hendrerit. In hac habitasse platea dictumst. Fusce dapibus, felis at suscipit euismod, libero tortor aliquet arcu, ut tristique enim arcu vel velit. In hac habitasse platea dictumst. Sed nec erat arcu.</p>
            <p class="parrafo">Fusce congue augue non ante euismod elementum. Duis eu dui a mi volutpat laoreet a vel nulla. Etiam placerat turpis odio, ac euismod lectus vehicula in. Donec facilisis viverra velit, eget varius ante viverra a. Nullam vel purus nec ligula rhoncus ultrices a et libero. Vivamus sagittis, velit in rhoncus sodales, velit ipsum venenatis leo, in vehicula nunc dui id quam.</p>
        </div>
        <div class="right-column">
            <div class="subscribe">
                <h2>Suscribirse al Blog</h2>
                <p class="parrafo">¡Suscríbete para recibir actualizaciones por correo electrónico!</p>
                <input type="text" placeholder="Correo electrónico">
                <button>Enviar</button>
            </div>
        </div>
    </div>
    
    <div class="footer">
        Pie de página
    </div>
</body>
</html>
