<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artículo de Blog</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <header>
        <a  href="index.html">
        <img class="logo" src="logo.png " alt="Mi foto">  
        </a>
        Mi primer blog
    </header>

    <div class="container">
        <div class="left-column">
            <h1>El Título del Artículo</h1>
            <p class="parrafo">Publicado el 22 de Septiembre de 2023</p>
           


            <div class="container">
                <div class="left-column">
                    <h1>El Título del Artículo</h1>
                    <p class="parrafo">Publicado el 22 de Septiembre de 2023</p>

                    <h1>Introducción</h1>
                    <p class="parrafo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo iste excepturi mollitia id soluta velit accusamus ab reiciendis in architecto, itaque aut perferendis quis alias maiores iure amet earum fugiat.</p>
            
                    <h1>Sueñan los androides con ovejas electricas? </h1>
                    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id minus voluptatum nostrum! Dolor, nulla quo suscipit sint consequuntur deserunt recusandae nesciunt officiis doloribus quos minima. Fuga incidunt itaque tempora maiores.</p>
                    <img class="logo" src="dreamer.png" alt="dreamer">
            
                    <h1>Stardust</h1>
                    <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate non beatae esse tempora maiores! Nisi autem itaque voluptatum, vitae consequuntur pariatur dignissimos ipsa laudantium blanditiis magnam deserunt quis, laborum unde?</p>
                    <img class="logo" src="Stardust.png" alt="Black Hole">
            
                    <h1>Waiting for something to happen?</h1>
                    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis veritatis, ea consectetur possimus, harum odit nemo inventore eum earum maiores neque quaerat optio autem. Reiciendis possimus adipisci necessitatibus corporis doloremque.</p>
                    <img class="logo" src="Mewo.jpg" alt="Omori Cat">
            
                    <h1>Conclusión</h1>
                    <p class="parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cupiditate aperiam, eius nesciunt debitis reiciendis perferendis nulla assumenda tenetur molestias tempora quibusdam natus eaque sit harum vitae ea expedita facilis!</p>
                </article>
                </div>
                <div class="right-column">
                    <div class="subscribe">
                        <h2>Suscribirse al Blog</h2>
                        <p class="parrafo">¡Suscríbete para recibir actualizaciones por correo electrónico!</p>
                        <input type="text" placeholder="Correo electrónico">
                        <button>Enviar</button>
                    </div>
                </div>
            </div>
            
            <div class="footer">
                Pie de pagina
            </div>
</body>
</html>
